.about-section {
  scroll-margin-top: 80px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 1800px; /* Add this line */
  box-sizing: border-box;
  margin: 0 auto;
}

.about-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.about-text {
  flex: 1;
  text-align: left;
  max-width: 440px;
}

.about-us-label {
  font-size: 1rem;
  color: #fff;
  opacity: 0.8;
  margin-bottom: 0.5rem;
  font-weight: 600;
  display: block;
}

.about-title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.about-desc {
  font-size: 1.08rem;
  margin-bottom: 1.5rem;
  opacity: 0.88;
  line-height: 1.6;
}

.about-btn {
  background: #f7842b;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
  margin-top: 0.5rem;
}

.about-btn:hover {
  background: #d96c1a;
}

.about-image img {
  
  max-width: none;
  min-width: 700px;
  height: 380px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  
}

.about-image2 img {
  width: calc(100% - 40px); /* Reduce width from right */
  max-width: none;
  min-width: 700px;
  height: 380px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 40px; /* Add margin to reduce from right */
}


.about-text ul {
  padding-left: 1.2rem;
  margin: 0 ;
  opacity: 0.88;
  font-size: 1.08rem;
  line-height: 1.6;
}

.about-text ul li {
  margin-bottom: 0.5rem;
}

.about-text {
  margin: 1.5rem;
  margin-left: calc(1.5rem - 20px);
}

/* Mobile phones */
@media (max-width: 768px) {
  .about-section {
    padding: 1rem 3%;
  }

  .about-content-wrapper {
    gap: 1.5rem;
  }
  
  .about-title {
    font-size: 1.8rem;
  }

  .about-desc, .about-text ul, .alumni-role {
    font-size: 0.9rem;
  }
  
  .about-btn {
    width: 100%;
  }


}
/* Mobile phones (general) */
@media (max-width: 480px) {
  .about-section {
    padding: 1rem;
  }
  .about-title {
    font-size: 1.5rem;
  }

}

/* iPad Mini (Portrait) and Foldable devices */
@media (max-width: 768px) {
  .about-content-wrapper {
    flex-direction: column;
  }
  .about-content-wrapper:nth-child(2) {
    flex-direction: column-reverse;
  }
  .about-image img, .about-image2 img {
    min-width: 100%;
  }

}

/* Surface Pro 7 and Nest Hub */
@media (max-width: 1024px) {
  .about-section {
    padding: 2rem 5%;
  }

}